<div class="container">

  <h5>My Favorite Recipes</h5>

  <table>
    <tr>
      <th>Recipe</th>
      <th>Ingredients</th>
      <th>Category</th>
      <th>Created By</th>
      <th>Submitted on</th>
      <th></th>
    </tr>
       <%recipes.each do |recipe|%>
       <tr>
        <td><%=recipe.title%></td>
        <td>
          <%recipe.ingredients.order(:name).each do |ingredient|%>
            <a href="/ingredient/<%=ingredient.id%>"><%=ingredient.name%></a><br>
            <%end%>
        </td>
        <td>
          <%recipe.categories.order(:name).each do |category|%>
            <a href="/category/<%=category.id%>"><%=category.name%></a><br>
            <%end%>
        </td>
        <td> <a href="/creator/<%=recipe.creator.id%>/recipes"><%=recipe.creator.username%></a></td>
        <td><%=recipe.created_at%></td>
        <td> <form action="/favorite_recipe/<%=recipe.id%>" method="POST" class="delete_favorite">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="X">
        </form>
        </td>
       </tr>
    <%end%>
  </table>
</div>